<div *ngIf="video && videoDet">
    <video id="video-pl" class="video-js vjs-default-skin vjs-big-play-centered"
  controls preload="auto" width="640" height="264"
  poster="{{video.imageUrl}}"
  data-setup='{"example_option":true}'>
 <source src="{{videoDet.videoUrl}}" type="video/mp4" />
 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video>
<br/>
     <p> Video name: {{video.name}} </p>
     <p> Video description: {{video.description}} </p>
     <p> Video size: {{videoDet.size}} Kb </p>
     <p> Video author: {{videoDet.author}} </p>
     <p> Video date: {{videoDet.date}} </p>
     <br/>
<a   [routerLink]="['/videos']" class="thumb"> <button>All videos</button> </a>
<a  *ngIf="video.id<5" [routerLink]="['/video', video.id+1]" class="thumb"> <button>Next video</button> </a>
<a  *ngIf="video.id>1" [routerLink]="['/video', video.id-1]" class="thumb"> <button>Previous video</button> </a>
  </div>